# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.spec

# 虚拟环境
venv/
.venv/
env/

# 测试 / 缓存
.pytest_cache/
.coverage
htmlcov/

# IDE / 系统
.idea/
.vscode/
.DS_Store
Thumbs.db

# 日志
*.log
